<div class="panel panel-default devise-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Forgot your password?</h3>
  </div>
  <div class="panel-body">
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field input-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Reset Password", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="after-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
